<!DOCTYPE html>
<html lang="en">
<head>
  <title>BOOK MY TICKET</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BOOK MY TICKET</a>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">LOGIN</a></li>
      <li><a href="/bookticket/register">REGISTER</a></li>
      <li><a href="/bookticket/movies">Movies</a></li>
    </ul>
  </div>
</nav>
<div class="container" style="margin-top:80px">
	<h1>
	  {% block pageheader%}
	  
	  {% endblock %}
	</h1>
  {% block content%}

  <h1> ABOUT YOUR SITE</h1>
  {% endblock %}

</div>
</body>
</html>
