{% extends 'bookticket/home.html'%}
{% load crispy_forms_tags %}
{% block pageheader%}
		Movies
{% endblock %}
{% block content%}
	<h2><a href="/bookticket/create_movie">CREATE MOVIE</a></h2>
	<p>Showing movies list </p>
	<form>
		{{form|crispy}}
		<input type="submit" name="" value="GET MOIVES">
	</form>
	<table border=1 id="movies_list">
		<thead>
			<tr>
				<th>Name</th>
				<th>Cast</th>
				<th>description</th>
				<th>TWOD</th>
				<th>THREED</th>
				<th>RATING</th>
				<th>created by</th>
				<th>Languages</th>
				<th>POSTER</th>
				<th>OPERATIONS</th>

			</tr>
		</thead>
		<tbody>
			{% for movie in data%}
			<tr>
				<td>{{ movie.name }}</td>
				<td>{{ movie.cast}}</td>
				<td>{{ movie.description}}</td>
				<td>{{ movie.twod}}</td>
				<td>{{ movie.threed}}</td>
				<td>{{ movie.rating}}</td>
				<td>{{ movie.createdby}}</td>
				
				<td>
 					{% for lang in movie.languages.all%}
					{{ lang.name}},
					{% endfor%}
				</td>
				<td><img src="/media/{{movie.poster}}" width="50" height="50"></td>
				<td><a href="/bookticket/update_movie/{{movie.id}}">UPDATE</a>
					<a href="/bookticket/delete_movie/{{movie.id}}">DELETE</a>
				</td>
			</tr>
			{% endfor %}			
		</tbody>
	</table>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#movies_list').DataTable( {
		        "pagingType": "full_numbers"
		    } );
		} );
	</script>
{% endblock %}